{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/login.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjsts.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Login Page</title>
</head>
<body>
    <div class="login-container">
        <div class="instagram-logo">
            <i class="fab fa-instagram"></i>
            <h1>Instagram</h1>
        </div>
        <form class="login-form" method="post">
            {% csrf_token %}
            <input type="text" name="username"  placeholder="Username or Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button class="login-button" type="submit">Log In</button>
        </form>
        {% if form.errors %}
        <div class="error-box">
            <div class="error-title">Error</div>
            <ul class="error-list">
                    {% for field, error_list in form.errors.items %}
                            <ul>
                                {% for error in error_list %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                    {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="divider">
            <span>OR</span>
        </div>
        <a href="#" class="forgot-password">Forgot password?</a>
    </div>
</body>
</html>
