{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'email_style.css' %}">
</head>
<body>
    <div class="email-container">
        <div class="logo">
            {% comment %}<img src="{% static 'your-logo.png' %}" alt="Your Logo">{% endcomment %}
        </div>
        <h2 class="email-heading">Reset Your Password</h2>
        <p class="email-content">
            You've requested to reset your password. Click the button below to reset it.
        </p>
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" class="reset-button">Reset Password</a>
        <p class="email-content">
            If you didn't request a password reset, please ignore this email.
        </p>
    </div>
</body>
</html>
