{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'change_password.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Change Password</title>
</head>
<body>
    <div class="change-password-container">
        <h1>Change Password</h1>
        <form class="change-password-form">
            <input type="password" name="old_password" placeholder="Current Password" required>
            <input type="password"  name="new_password1" placeholder="New Password" required>
            <input type="password" name="new_password2" placeholder="Confirm New Password" required>
            <button class="change-password-button" type="submit">Change Password</button>
        </form>
    </div>
</body>
</html>
