{% extends 'index.html' %}
{% load static %}

{% block  style %}<link rel="stylesheet" href="{% static 'accounts/reset_password.css' %}">{% endblock %}
{% block title %}Password Reset{% endblock %}

{% block content %}
  <div class="reset-container">
    <h2>Reset Password</h2>
    <p>Enter the email associated with your account to reset your password:</p>
    <form method="post" class="reset-form">
      {% csrf_token %}
      {{ form.email.label_tag }} {{ form.email }}
      <button type="submit">Reset Password</button>
    </form>
  </div>
{% endblock %}
