{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/secret_code.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Secret Code Verification</title>

</head>
<body>
    <div class="verification-box">
        <h1>Secret Code Verification</h1>
        <br>
        <p> a secert_code has sent to you email address please check it </p>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="secert_code" placeholder="Enter Secret Code" required>
            <button type="submit">Verify</button>
        </form>
        {% if error %}
            <div class="error-box">
                <div class="error-title">Error</div>
                    <p>{{ error }}</p>
            </div>
        {% endif %}
        {% if form.errors %}
            <div class="error-box">
                <div class="error-title">Error</div>
                    {% for field, error_list in form.errors.items %}
                            {% for error in error_list %}
                                <p>{{ field }}:{{ error }}</p>
                            {% endfor %}
                    {% endfor %}
            </div>
        {% endif %}
    </div>
</body>
</html>
