body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
}

.login-title {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.social-buttons {
    margin-top: 20px;
}

.social-button {
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    font-size: 0.9rem;
}

.social-button i {
    margin-right: 10px;
}

.social-button:hover {
    background-color: #f5f5f5;
    color: #555;
}

.login-form {
    margin-top: 20px;
}

.login-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 12px;
    font-size: 0.9rem;
}

.login-button {
    background-color: #79b42b;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
}

.login-button:hover {
    background-color: #669f27;
}

.remember-label {
    font-size: 0.8rem;
    display: flex;
    justify-content: left;
    align-items: center;
}

.forgot-password {
    color: #999;
    font-size: 0.8rem;
    text-decoration: none;
    margin-top: 8px;
    display: block;
}

.signup-link {
    color: #79b42b;
    font-size: 0.9rem;
    text-decoration: none;
    margin-top: 15px;
    display: block;
}