{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block  style %}<link rel="stylesheet" href="{% static 'style.css' %}">{% endblock %}
    {% block title %}<title>Home</title>{% endblock %}
</head>
<body>
    {% block content %}
    <div class="container">
        <h1 class="header">Welcome to Our Website</h1>
        <p class="subheader">Discover the Latest Updates</p>
    </div>
    {% endblock %}
</body>
</html>
